# Environment
IS_LOCAL=true
NODE_ENV=development

OPENLOOPS_DB_URI="mongodb://localhost:27017/"
OPENLOOPS_DB_NAME='openloops'

SECRET_MANAGER_KEY=secret

# OpenAI api key dev
OPENAI_API_KEY=

# Sentry
SENTRY_DSN=

# Langfuse
LANGFUSE_SECRET_KEY=
LANGFUSE_PUBLIC_KEY=
LANGFUSE_BASE_URL=

# Serper
SERPER_API_KEY=
